<template>
	<div class="container">
		<div class="card">
			<div class="card-header">
				Contatos
				<ModalInsert @event="alterarContato"></ModalInsert>
			</div>
			<div class="card-body p-0">
				<div class="table-responsive border-0">
					<b-table striped hover :items="contatos" :fields="fields">
						<template v-slot:cell(edit)="row">
							<ModalInsert :contato="row" @event="alterarContato"></ModalInsert>
						</template>
					</b-table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import ModalInsert from "./ModalInsert.vue";

	export default {
		components: {
			ModalInsert
		},
		data: function() {
			return {
				contatos: [],
				modalShow: false,
				fields: ["nome", { key: "edit", label: "Ação" }]
			};
		},
		methods: {
			alterarContato(contato) {
				if (contato && contato.index == -1) {
					this.contatos.push({
						id: contato.contato.id,
						nome: contato.contato.nome,
						numeros: contato.contato.numeros
					})
				} else {
					this.contatos[contato.index].nome = contato.contato.nome;
					this.contatos[contato.index].numeros = contato.contato.numeros;
				}
			},
			loadContatos() {
				axios.get(`/contatos`).then(e => {
					e.data.data.map(item => {
						this.contatos.push({
							id: item.id,
							nome: item.nome,
							numeros: item.contato_numeros
						});
					});
				});
			}
		},
		mounted() {
			this.loadContatos();
		}
	};
</script>

<style>
</style>
