<template>
	<div>
		<b-button v-if="contato && contato.item && contato.item.id" @click="abrirModal()">Editar Contato</b-button>
		<b-button v-else @click="abrirModal()">Novo Contato</b-button>

		<b-modal v-model="modalShow" hide-footer>
			<div>
				<b-form v-if="show">
					<b-form-group id="input-group-2" label="Nome do Contato:" label-for="input-2">
						<b-form-input id="input-2" v-model="form.nome" required placeholder="Insira o Nome"></b-form-input>
					</b-form-group>

					<b-button @click="modalShowAddNumber=true">Adicionar Novo Número</b-button>

					<b-modal v-model="modalShowAddNumber" hide-footer>
						<b-form-group id="input-group-3" label="Novo Número:" label-for="input-number">
							<masked-input v-model="form.novoNumero" mask="(11) 11111-1111" placeholder="Telefone"/>
						</b-form-group>
						<b-button @click="addNumber(form.novoNumero)" variant="primary">Salvar</b-button>
					</b-modal>

					<div class="table-responsive border-0">
						<b-table striped hover :fields="fields" :items="form.numeros">
							<template v-slot:cell(acao)="row">
								<b-button @click="deleteContatoNumero(row)" variant="danger">Excluir</b-button>
							</template>
						</b-table>
					</div>

					<b-button @click="salvar" variant="primary">Salvar</b-button>
				</b-form>
			</div>
		</b-modal>
	</div>
</template>

<script>
	import MaskedInput from "vue-masked-input";
	import axios from "axios";

	export default {
		components: {
			MaskedInput
		},
		props: {
			contato: {
				type: Object
			}
		},
		data: function() {
			return {
				modalShow: false,
				modalShowAddNumber: false,
				fields: [
					{ key: "numero", label: "Números" },
					{ key: "acao", label: "Ação" }
				],
				form: {
					id: null,
					nome: "",
					numeros: [],
					novoNumero: null
				},
				show: true
			};
		},
		methods: {
			abrirModal() {
				this.modalShow = true;

				if (this.contato && this.contato.item && this.contato.item.id) {
					this.form.id = this.contato.item.id;
					this.form.nome = this.contato.item.nome;
					this.form.numeros = this.contato.item.numeros.map(item => {
						return {
							id: item.id,
							numero: item.numero
						};
					});
				} else {
					this.form = {
						id: null,
						nome: "",
						numeros: [],
						novoNumero: null
					};
				}
			},
			alterarContato() {
				this.$emit("event", {
					contato: this.form,
					index: this.contato ? this.contato.index : -1
				});
			},
			deleteContatoNumero(contatoNumero) {
				if (confirm("Deseja mesmo deletar esse número?") == true) {
					let removerContatoNumeroArray = () => {
						this.form.numeros.splice(contatoNumero.index, 1);

						this.alterarContato();
					};

					if (contatoNumero.item.id) {
						axios.delete(`/contatonumeros/${contatoNumero.item.id}`).then(e => {
							removerContatoNumeroArray();
						});
					} else {
						removerContatoNumeroArray();
					}
				}
			},
			addNumber(numero) {
				this.form.numeros.push({ numero });
				this.form.novoNumero = "";
				this.modalShowAddNumber = false;
			},
			salvar() {
				let configSaveContato = {};

				if (this.form.id) {
					configSaveContato.url = `/contato/${this.form.id}`;
					configSaveContato.method = "post";
					configSaveContato.data = {
						id: this.form.id,
						nome: this.form.nome,
						user_id: this.$userId
					};
				} else {
					configSaveContato.url = `/contato`;
					configSaveContato.method = "post";
					configSaveContato.data = {
						nome: this.form.nome,
						user_id: this.$userId
					};
				}

				axios(configSaveContato).then(e => {
					if (!this.form.id) this.form.id = e.data.id;

					if (this.form.numeros.length > 0) {
						this.form.numeros.forEach(item => {
							if (item && !item.id) {
								axios
									.post("/contatonumero", {
										numero: item.numero,
										contato_id: e.data.id
									})
									.then(e => {
										this.alterarContato();
									});
							} else {
								this.alterarContato();
							}
						});
					} else {
						this.alterarContato();
					}

					this.modalShow = false;
				});
			}
		}
	};
</script>

<style>
</style>